.page-player {
    padding: 96px 0;
    padding-top: calc(96px + 80px);
    color: var(--c-text);

    .grid-box {
        position: relative;
        z-index: 2;
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .player-info {
        .player-details {
            display: flex;
            align-items: center;
            gap: 32px;

            .avatar {
                width: 128px;
                height: 128px;
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid var(--c-primary);

                img {
                    object-fit: cover;
                    height: 100%;
                }
            }
            .info {
                .name {
                    font-family: var(--f-primary);
                    text-transform: none;
                    margin-bottom: 8px;
                }
                .tag {
                    font-size: 13px;
                }
            }
        }
    }
    .matchs-list {
        padding: 32px 0;

        .box-title {
            padding: 0 32px;
        }
        .matchs {
            display: flex;
            flex-direction: column;
            
            a{
                text-decoration: none;
                color: inherit;
            }

            .match {
                list-style: none;
                padding: 32px;
                transition: var(--a-transition);

                &:hover {
                    background-color: var(--c-secondary-darker);

                    // .teams {
                    //     background-color: var(--c-black);

                    //     .separator {
    
                    //         &::after {
                    //             background: linear-gradient(90deg, var(--c-black) 0%, rgba(0,0,0,0) 25%, var(--c-black) 50%, rgba(0,0,0,0) 75%, var(--c-black) 100%);
                    //         }
                    //     }
                    // }
                }
                .match-info {
                    .gametype {
                        font-family: var(--f-primary);
                        text-transform: none;
                        margin-bottom: 8px;
                    }
                    .duration {
                        margin-bottom: 16px;

                        span {
                            color: var(--c-primary);
                            font-weight: bold;
                        }
                    }
                }
                .teams {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    background-color: var(--c-secondary-darker);
                    padding: 32px;
                    border-radius: 16px;

                    .team {
                        border-radius: 8px;
                        display: flex;
                        justify-content: space-evenly;
                        flex: 1;
                        color: var(--c-text-alt);
                        width: 100%;

                        &.team-winner {
                            background-color: var(--c-success-lighter);
                            border: 1px solid var(--c-success-darker);
                        }
                        &.team-loser {
                            background-color: var(--c-error-lighter);
                            border: 1px solid var(--c-error-darker);
                        }
                        .player {
                            padding: 8px 16px;
                            display: flex;
                            gap: 16px;
                            align-items: center;
                            justify-content: center;

                            &.this-player {
                                background-color: var(--c-primary);
                            }
                            .champion-icon {
                                width: 64px;
                                height: 64px;
                                border-radius: 50%;
                                overflow: hidden;
                                border: 2px solid var(--c-primary);

                                img {
                                    object-fit: cover;
                                    height: 100%;
                                }
                            }
                            .player-info {
                                .name {
                                    font-weight: bold;
                                    font-size: 18px;
                                }
                                .champion-name {
                                    span {
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                    .separator {
                        position: relative;
                        font-family: var(--f-heading);
                        font-weight: bold;
                        font-size: 2.5rem;
                        width: 100%;
                        text-align: center;
                        z-index: 7;
                        margin: 16px 0;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background-color: var(--c-primary);
                        }
                        &::after {
                            content: 'VS';
                            position: absolute;
                            inset: 0;
                            background: rgb(0,0,0);
                            background: linear-gradient(90deg, var(--c-secondary-darker) 0%, rgba(0,0,0,0) 25%, var(--c-secondary-darker) 50%, rgba(0,0,0,0) 75%, var(--c-secondary-darker) 100%);
                            z-index: 5;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .page-player {
        .team {
            justify-content: space-between;

            .player {
                flex-direction: column;
                text-align: center;

                .tag {
                    margin: 0 auto;
                }
            }
        }
        
    }
}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1024px) {
    .page-player {
        .teams {
            flex-direction: row !important;
            gap: 32px;

            .team {
                flex-direction: column;

                .player {
                    flex-direction: row;
                    text-align: left;
                    justify-content: flex-start !important;

                    .tag {
                        margin: 0;
                    }
                }
            }
        }
        .separator.versus {
            display: none;
        }
    }
}
@media screen and (max-width: 768px) {
    .page-player {
        .player {
            flex-direction: column !important;
            text-align: center !important;

                .tag {
                    margin: 0 auto !important;
                }
        }
        .matchs-list {
            padding: 16px 0;
    
            .box-title {
                padding: 0 16px;
            }
            .matchs {
    
                .match {
                    padding: 16px;

                    .teams {
                        padding: 16px;
                    }
                }
            }
        }
    }

}
@media screen and (max-width: 480px) {
    .page-player {
        .player-details {
            flex-direction: column;
        }
        .teams {
            flex-direction: column !important;
        }
    }
}