.page-player {
    padding: 96px 0;
    padding-top: calc(96px + 80px);
    color: var(--c-text);

    .grid-box {
        position: relative;
        z-index: 2;
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .matchs-list {

        .box-title {
            padding: 0 32px;
        }
    }
}

@media screen and (max-width: 1440px) {
    .page-player {
        .team {
            justify-content: space-between;

            .player {
                flex-direction: column;
                text-align: center;

                .tag {
                    margin: 0 auto;
                }
            }
        }
        
    }
}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1024px) {
    .page-player {
        .teams {
            flex-direction: row !important;
            gap: 32px;

            .team {
                flex-direction: column;

                .player {
                    flex-direction: row;
                    text-align: left;
                    justify-content: flex-start !important;

                    .tag {
                        margin: 0;
                    }
                }
            }
        }
        .separator.versus {
            display: none;
        }
    }
}
@media screen and (max-width: 768px) {
    .page-player {
        .player {
            flex-direction: column !important;
            text-align: center !important;

                .tag {
                    margin: 0 auto !important;
                }
        }
        .matchs-list {
            padding: 16px;
    
            .box-title {
                padding: 0 16px;
            }
            .matchs {
    
                .match {
                    padding: 16px;

                    .teams {
                        padding: 8px;
                    }
                }
            }
        }
    }

}
@media screen and (max-width: 480px) {
    .page-player {
        .teams {
            flex-direction: column !important;
        }
    }
}