.searchbar {
    position: relative;
    display: flex;

    button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(1px, -50%);
        height: 54px;
        width: 54px;
    }
    .select {
        border-radius: 100px 0 0 100px;
        border-right: 1px solid var(--c-secondary-darker);
        padding-right: calc(16px + 24px);
        height: 100%;
    }
    .input-container {
        position: relative;
        flex: 1;

        input.input {
            height: 100%;
        }
    }
    .results {
        visibility: visible;
        opacity: 1;
        margin-top: 8px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--c-secondary);
        border-radius: 16px;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 372px;
        transition: var(--a-transition);

        &[aria-hidden=true] {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
        }
        a {
            text-decoration: none;
        }
        .result {
            display: flex;
            align-items: center;
            gap: 16px;
            transition: var(--a-transition);
            padding: 16px;

            &:hover {
                background-color: var(--c-secondary-darker);
            }
            .is-empty {
                width: 100%;
            }
            .player-icon {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                overflow: hidden;
            }
            .player-content {
                p {
                    display: inline-block;
                    color: var(--c-text);
                }
                p.name {
                    font-size: 18px;
                    font-weight: bold;
                    margin-top: 4px;
                }
                p.level {
                    margin-right: auto;
                    font-weight: lighter;
                }
            }
        }
    }
}


@media screen and (max-width: 480px) {
    .searchbar {
        flex-direction: column;
        gap: 8px;

        .select {
            border-radius: 100px;
            border-right: none;
            padding-right: 16px;
        }
        button {
            top: auto;
            bottom: 0;
            transform: translate(1px, 0);
        }
        .input-container {
    
            input.input {
                border-radius: 100px;
            }
        }
        .results {
            .result {
                .player-content {
                    .separator {
                        display: none;
                    }
                    p {
                        display: block;
                    }
                }
            }
        }
    }
}