.page-timeline {
    background-image: linear-gradient(45deg, var(--c-secondary), var(--c-secondary-darker));
    background-position: center center;
    background-size: 100% 100%;
    padding: 96px 0;
    padding-top: calc(96px + 80px);
    
    .page-timeline__grid {
        display: grid;
        grid-template-areas:    
            "map events" 
            "map teams"
        ;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;

        .map-box {
            grid-area: map;
        }
        .events-box {
            grid-area: events;
        }
        .teams-box {
            grid-area: teams;
        }
        .box {
            h2.box-title {
                color: #fff;
            }
        }
    }
}
